/* Custom classes are prefixed with cat- */

.yellow-gradient {
  background: rgb(226,226,226);
  background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 29%, rgba(249,249,249,1) 60%, rgba(255,255,255,1) 100%);
  border-bottom: solid 2px #919191;
}

.cat-view-heading {
  color:#00bcd4;

}

.cat-logo-sm {
  width:100px;
  margin: 5px;
}

.cat-main-view {
  min-height:60vh;
}

.cat-hash-link{
  color: grey;
  border-bottom: 1px dotted grey;
}

.cat-hash-link:hover{
  background-color: rgb(220, 220, 220);
}

.cat-metric-tooltip .tooltip.show p{
 text-align: left;
}

.cat-nav-link {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display:block;
  text-decoration: none;
  color:black;
  padding: 15px 15px;
}

.cat-nav-link:hover {
  background-color: #e2e1e2;
}

.cat-action-approve-link:hover {
  background-color: #198754;
  border-color: #198754;
}

.cat-action-reject-link:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}

.cat-action-view-link:hover {
  background-color: #0a58ca;
  border-color: #0a58ca;
}


footer h6 {
  color: grey;
  font-weight: bold;
}

footer a{
  text-decoration: none;
  color:#00bcd4;
}

.main-nav{
  border-bottom: 1px solid rgb(169, 169, 169);
}

.nav-text {
  padding:15px 15px;
}


.active {
  color: red;
}

.custom-pagination input {
  display:inline-block;
  width:85px;
  border-radius:0px;
  float: left;
  vertical-align: top;
  margin-left: -1px;
}


.cat-text-faded {
  color:lightgrey;
}

.list-group-item:nth-child(even) {
  background: #f7f9fb;
}

.limited {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}

.dropdown a:hover { text-decoration-line: none; }
.dropdown a { text-decoration-line: none; }

.actor-card {
  height: 300px;
}

/* Default for small screens */
.row-cols-1 {
  flex-basis: 100%;
  max-width: 100%;
}

/* Two columns for screens with a minimum width of 576px */
@media (min-width: 576px) {
  .row-cols-2 {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

/* Three columns for screens with a minimum width of 768px */
@media (min-width: 768px) {
  .row-cols-3 {
    flex-basis: calc(33.3333% - 1rem);
    max-width: calc(33.3333% - 1rem);
  }
}

/* Four columns for screens with a minimum width of 992px */
@media (min-width: 992px) {
  .row-cols-4 {
    flex-basis: calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}

.disabled-div {
  opacity: 0.5; /* Reduce opacity to make it appear disabled */
  pointer-events: none; /* Prevent mouse interactions */
}

.assessment-card .nav-link {
  color: #3b3b3b !important;
}

.assessment-card .nav-link.active {
  color: #0b5ed7 !important;
}


