/* Custom classes are prefixed with cat- */

.yellow-gradient {
  background: rgb(226 226 226);
  background: linear-gradient(
    0deg,
    rgb(226 226 226 / 100%) 0%,
    rgb(243 243 243 / 100%) 29%,
    rgb(249 249 249 / 100%) 60%,
    rgb(255 255 255 / 100%) 100%
  );
  border-bottom: solid 2px #919191;
}

.cat-cursor-pointer {
  cursor: pointer;
}

.cat-list-bullet-image {
  list-style: url("/fclogo.png");
}

.cat-list-bullet-image li {
  padding: 0.6rem;
}

.cat-crit-sidebar {
  background-color: rgb(240 240 240);
}

.assessment-card .nav-link {
  color: #3b3b3b;
}

.cat-select-item:hover {
  cursor: pointer;
  background: #e8e8e8;
}

.cat-test-div {
  padding: 1rem;
  border-left: 0.8rem solid rgb(240 240 240);
}

.cat-crit-tab .nav-link {
  color: black;
  border: 1px solid rgb(222 226 230);
}

.cat-crit-tab .nav-link:hover {
  color: rgb(187 155 53);
  background: white;
}

.cat-tab-inner {
  border-left: 8px solid rgb(240 240 240);
}

.nav-link:hover .cat-tab-inner {
  border-left: 8px solid rgb(248 206 71);
}

.nav-link.active .cat-tab-inner {
  border-left: 8px solid rgb(248 206 71);
}

.active {
  color: red;
}

.cat-crit-tab .nav-link.active {
  color: rgb(187 155 53);
  background: white;
  border-right: 1px solid white;
}

.navlink.active .cat-tab-inner {
  border-right: 3px solid yellow;
}

.cat-view-heading-block {
  padding: 7px;
}

.cat-view-heading {
  color: hsl(187deg 100% 42%);
}

.cat-view-lead {
  font-size: 1.05 rem !important;
}

.admin-mode-badge-sm {
  padding-right: 10px;
  font-size: 0.75 rem;
}

.cat-view-search-block {
  padding: 18px;
  background: #e9ecef;
}

.cat-logo-sm {
  width: 100px;
  margin: 5px;
}

.cat-main-view {
  min-height: 60vh;
  padding: 10px;
  background-color: #e8e8e8;
}

.cat-eval-fail {
  color: #842029;
  background: #f8d7da;
  border: 1px solid #f5c2c7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cat-eval-unknown {
  color: #41464b;
  background: #e2e3e5;
  border: 1px solid #d3d6d8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cat-eval-pass {
  color: #0f5132;
  background: #d1e7dd;
  border: 1px solid #badbcc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cat-eval-separator {
  border-bottom: 1px solid black;
}

.cat-hash-link {
  color: grey;
  border-bottom: 1px dotted grey;
}

.cat-hash-link:hover {
  background-color: rgb(220 220 220);
}

.cat-metric-tooltip .tooltip.show p {
  text-align: left;
}

.cat-menu-principal {
  position: relative;
  display: block;
  padding: 15px 10px;
  background-color: rgb(220 220 220);
  transition: 1.3s;
  transition-property: color;
}

.cat-menu-principal-name {
  font-size: 1.15rem;
  font-weight: 500;
}

.cat-nav-link {
  display: block;
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.cat-nav-link:hover {
  background-color: #e2e1e2;
}

.cat-action-approve-link:hover {
  background-color: #198754;
  border-color: #198754;
}

.cat-action-reject-link:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}

.cat-action-view-link:hover {
  background-color: #0a58ca;
  border-color: #0a58ca;
}

.counter-section i {
  display: block;
  margin: 0 0 10px;
}

.counter-section span.counter {
  display: block;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  line-height: 60px;
  color: #000;
  letter-spacing: 2px;
}

.counter-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.counter-icon {
  position: relative;
  top: 25px;
}

.counter-style2 .counter-title {
  float: left;
  letter-spacing: 0.55px;
}

.counter-style2 span.counter {
  float: left;
  margin-right: 10px;
  letter-spacing: 0.55px;
}

.counter-style2 i {
  float: right;
  margin: 0 10px 0 0;
  line-height: 26px;
}

.counter-subheadline span {
  float: right;
}

.medium-icon {
  margin-bottom: 15px !important;
  font-size: 30px !important;
}

footer h6 {
  font-weight: bold;
  color: grey;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
}

.nav-text {
  padding: 15px;
}

.custom-pagination input {
  display: inline-block;
  width: 85px;
  margin-left: -1px;
  vertical-align: top;
  border-radius: 0;
}

.cat-text-faded {
  color: lightgrey;
}

.list-group-item:nth-child(even) {
  background: #f7f9fb;
}

.cat-comment-buttons {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list-group-item:hover .cat-comment-buttons {
  pointer-events: auto;
  opacity: 1;
}

.limited {
  max-width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled-div {
  pointer-events: none; /* Prevent mouse interactions */
  opacity: 0.5; /* Reduce opacity to make it appear disabled */
}

.assessment-card .nav-link.active {
  color: #0b5ed7 !important;
}

.assessment-card .nav-link.disabled {
  color: #ddd !important;
}

.cat-full-date-info {
  display: none;
  color: rgb(187 187 187);
}

.cat-date-cell:hover .cat-full-date-info {
  display: inline;
}

.filter-div {
  height: min-content;
  margin-top: auto !important;
  margin-bottom: auto !important;
  text-align: center;
}

.w-max-content {
  width: max-content;
}

.cat-vh-60 {
  height: 60vh;
}

@media (width < 1600px) {
  .form-floating > label {
    display: none;
  }

  .form-floating > .form-select {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.box-ribbon-report {
  position: relative;
  background: #fff;
  box-shadow: 0 0 15px rgba(0 0 0 /10%);
}

/* common */
.ribbon-report {
  position: absolute;
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.ribbon-report span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  font:
    700 18px/1 Lato,
    sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0 0 0 /20%);
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0 0 0 /10%);
}

a.plain {
  color: rgb(108 117 125);
  text-decoration: none;
}

a.plain:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.ribbon-report-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-report-top-right::before,
.ribbon-report-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-report-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-report-top-right::after {
  right: 0;
  bottom: 0;
}

.ribbon-report-top-right span {
  top: 30px;
  left: -25px;
  transform: rotate(45deg);
}

.rounded-full {
  border-radius: 50%;
}

.radio-card-icon img {
  width: 40px;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 10px;
}

.text-xs {
  font-size: 10px !important;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex !important;
}

.nav-tabs {
  color: #0b0101;
  border: none;
}

.nav-tabs .nav-item .nav-link {
  font-size: 15px;
  color: #0b0101;
  text-transform: uppercase;
  border: none;
  border-bottom: 3px solid #f8cd47;
}

.nav-tabs .nav-item .nav-link.active {
  color: #000;
  background-color: #dddfe0;
  border-bottom: 4px solid #314a92;
  border-radius: 0%;
}

.nav-tabs .nav-item .nav-link:hover {
  border-bottom: 4px solid #314a92;
}

.tab-content {
  padding: 15px;
  border: 1px solid #60b9d8;
  border-top: transparent;
}

.tab-content .tab-pane {
  height: auto;
  min-height: 200px;
  color: #000 !important;
  background-color: #fff;
}

#controlled-tab-example-tab-actors::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
}
