/* Custom classes are prefixed with cat- */

.yellow-gradient {
  background: rgb(226,226,226);
  background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 29%, rgba(249,249,249,1) 60%, rgba(255,255,255,1) 100%);
  border-bottom: solid 2px #919191;
}

.cat-view-heading {
  color:#00bcd4;

}

.cat-logo-sm {
  width:100px;
  margin: 5px;
}

.cat-main-view {
  min-height:60vh;
}

.cat-hash-link{
  color: grey;
  border-bottom: 1px dotted grey;
}

.cat-hash-link:hover{
  background-color: rgb(220, 220, 220);
}

.cat-metric-tooltip .tooltip.show p{
 text-align: left;
}

.cat-nav-link {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display:block;
  text-decoration: none;
  color:black;
  padding: 15px 15px;
}

.cat-nav-link:hover {
  background-color: #e2e1e2;
}

.cat-action-approve-link:hover {
  background-color: #198754;
  border-color: #198754;
}

.cat-action-reject-link:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}

.cat-action-view-link:hover {
  background-color: #0a58ca;
  border-color: #0a58ca;
}


footer h6 {
  color: grey;
  font-weight: bold;
}

footer a{
  text-decoration: none;
  color:#00bcd4;
}

.main-nav{
  border-bottom: 1px solid rgb(169, 169, 169);
}

.nav-text {
  padding:15px 15px;
}


.active {
  color: red;
}

.custom-pagination input {
  display:inline-block;
  width:85px;
  border-radius:0px;
  float: left;
  vertical-align: top;
  margin-left: -1px;
}


.cat-text-faded {
  color:lightgrey;
}

.list-group-item:nth-child(even) {
  background: #f7f9fb;
}